
<div class ="">
        <div class ="modal-content">
                <h1>¡Registra tu direccion de correo !</h1>
                <p>Te hemos enviado un link para confirmar la creacion de tu cuenta</p>
                <button class="buttonNegation" (click)="buttonNegation()">No lo he recibido</button>
                <button class="buttonConfirmation" (click)="buttonConfirmation()">¡Ya lo recibí!</button>
              <div class='imgModal'>
                    <img src='../../../assets/img/img-modal.png' alt='logo' />
              </div>
        </div>  
      </div>