footer {
    height: 10%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2a303a;
    border-top-left-radius: 70px;
}

.icons_footer img {
    width: 25px;
    height: 25px;
}

.text_footer {
    height: 50%;
    color: #ffffff;
    font-size: 16px;
    width: 80vh;
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: center;
}

.icon-footer {
    margin-left: 1rem;
}